body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #555;
}

textarea, input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea.big {
    height: 200px;
}

textarea.medium {
    height: 100px;
}

a.button, button {
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

a.button.purple, button.purple {
    background-color: #9966CC;

    &:hover {
        background-color: #7c45b2;
    }
}


*:disabled {
    opacity: 0.6;
}

a {
    text-decoration: none;
}

button:hover, .button:hover {
    background: #0056b3;
}

button.reset {
    background: #DC143C;
}

button.reset:hover {
    background: #b10202;
}

#result {
    margin-top: 20px;
    text-align: center;
}

#generatedUrl {
    word-wrap: break-word;
    color: #007BFF;
    font-weight: bold;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
}

img.left-arrow {
    rotate: -90deg;
    height: 32px;
    cursor: pointer;
    border-radius: 999px;
    padding: 4px;

    &:hover {
        background: rgba(209, 223, 238, 0.34);
    }
}

.flex-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.utils-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;

    & > * {
        width: 300px;
    }
}

/* Snackbar */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 8px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 24px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 24px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 24px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 24px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 24px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}